
body {
	font-family: "Lucida Grande",Arial,Helvetica,sans-serif;
	background-color: rgb(159, 178, 198);
}

a {
	display: block;
	padding: 10px;
	background-color: rgba(255,255,255,0.2);
	color: black;
	width: 250px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

a:hover {
    background-color: rgba(255,255,255,0.5);
}

.content {
    margin-top: 20%;
    margin-left: 40%;
}

.back {
    position: absolute;
    top: 70%;
    margin-left: 20px;
}